.row#gfoot
  .columns.large-5
    &copy; Meiwa Trekking Club
  .columns.large-7
    %ul.inline-list.right
      %li
        = link_to make_page_title('about', 'tos'), about_tos_path
      %li
        = link_to make_page_title('about', 'privacy'), about_privacy_path
