.row#gfoot
  .columns.small-12.large-12
    %ul.inline-list
      %li
        = link_to make_page_title('about', 'tos'), about_tos_path
      %li
        = link_to '本家サイト', 'http://www.kkan.net/meiwa-alpine/', target: '_blank'
  .columns.small-12.large-12#copyright
    %small
      &copy; 2013 Meiwa Trekking Club
