%nav.top-bar#ghead
  %ul.title-area
    %li.name
      %h1
        = link_to "Awesome Store", root_path
  %section.top-bar-section
    %ul.right
      %li.divider
      %li= link_to "Browse Products", '#'
      %li.divider
      %li= link_to "Price List", "#"
      %li.divider
      %li= link_to "Contact Us", "#"
