.columns.small-12.large-12
  %h1= make_page_title
  %p このサイトの制作者は、サイトを構築する上で、プライバシーを守るために努力を怠らないことを誓います。
  %p 具体的なものとしては、以下の対策を行っています。
  %ul.list
    %li 設計の時点で、プライバシーを守るための施策。
    %li 情報が漏洩する場合、その情報が可能な限り最小限になるような工夫。
    %li 各情報の公開範囲ができる限り明確であること。
  %h2 履歴
  %p 2013/07/12 制定

= content_for :title do
  #{make_page_title} | #{site_title}
