.columns.small-12.large-12
  %h2= make_page_title
  %p 明和トレッキング部、及び、明倫山岳会の繁栄に役立てるように、利用者は、以下の点を守りましょう。
  %ul.list
    %li 過去、現在、及び、未来の山行が楽しくなるように努力しましょう。
    %li 利用者は、他の利用者が不快になる言動を慎みましょう。
    %li このポータルが活気づくように協力しあっていきましょう。
    %li ここは、インターネット上の世界です。以下のプライバシーポリシーを読んだ上で、各自、個人情報を守る工夫を各自してください。
    %li この規約は予告なく変わることがあります。

  %h3 プライバシーポリシー
  %p このサイトの制作者は、サイトを構築する上で、プライバシーを守るために努力を怠らないことを誓います。
  %p 具体的なものとしては、以下の対策を行っています。
  %ul.list
    %li 設計の時点で、プライバシーを守るための施策。
    %li 情報が漏洩する場合、その情報が可能な限り最小限になるような工夫。
    %li 各情報の公開範囲ができる限り明確であること。

  %h3 履歴
  %p 2013/07/12 制定

= content_for :title do
  #{make_page_title} | #{site_title}
