/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require structures
 *= require jquery.ui.datepicker
 *= require foundation_and_overrides
 *= require swipebox
 *= require_self
 *= require_tree .
 */

@import 'shared/helpers'

label.required:after
  content: ' *'
  color: red

select
  -webkit-appearance: none
  height: 2.3125em
  padding: 0.5em
  font-size: 0.875em
  border: 1px solid #ccc
  background-color: #fff
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)

ul.list
  margin-left: 26px
  li

.row.actions, .row .row.actions
  margin-top: 30px

select
  &.year, &.month, &.day, &.hour, &.minute
    width: auto

.ui-datepicker
  font-size: 0.9em
  .ui-datepicker-title
    line-height: 1.6
  th.ui-datepicker-week-end
    background-color: #eef
    padding-top: .1em
    padding-bottom: .1em
    &:first
      background-color: #fee

a.swipebox
  display: inline-block
  max-width: 100%
