@import 'shared/foundation'
@import 'shared/helpers'

.trek
  h2
    font-size: 1.25em
  .row &
    margin-bottom: 0.75em
  .main_content
    padding-left: 0
    p
      margin-bottom: 0

  &.feed
    padding: 10px 0
    h2
      font-size: 1em
    .info
      font-size: 0.8em
      color: $body-font-color

a.trek
  display: block
  &:hover, &:active
    background-color: $feed_background_color

